<p-menubar [model]="[{label:'Home'},{label:'Contact us'}]"
    [style]="{'background-color':'white', 'width': '100%' , 'height':'4em','border-width':0}">
    <ng-template pTemplate="start">
        <img src="https://static.wixstatic.com/media/b3c12f_25c9f3f8b905416fb7e8f4b818a8d40f~mv2.png/v1/fill/w_64,h_65,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b3c12f_25c9f3f8b905416fb7e8f4b818a8d40f~mv2.png"
            height="40" class="mr-2">

    </ng-template>
    <ng-template pTemplate="end">

        <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>



    </ng-template>
</p-menubar>



<img class='imgshadow' style="height: 18em; width: 100%;  padding:0;" [src]="imageSrc[showImage]" />








<div class="flex" style="flex-wrap: wrap; text-align:center; justify-content: center;">
    <div style="padding:1em;" *ngFor="let item of categories; index as i">
        <img class='imgshadow' [src]="'https://picsum.photos/110/110?random='+i*10" alt="Avatar"
            style="border-radius: 50%;">
        <br /> <b> {{item}} </b>
    </div>
</div>


<p-dialog [closeOnEscape] = "false" [closable]= "false" [draggable]="false" header="Login / Sign Up" [(visible)]="loginVisible" [modal]="true" [style]="{'width': '25em'}">

    <p-tabView>
        <p-tabPanel header="Login">
            <div class="surface-card p-4 shadow-2 border-round w-full" style="margin: auto; width:100%">


                <div>
                    <label for="email1" class="block text-900 font-medium mb-2">Mobile</label>
                    <input id="email1" type="text" pInputText class="w-full mb-3">


                    

                    <div class="flex align-items-center justify-content-between mb-6">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1" class="text-900" style="font-size:small">Remember me</label>
                        </div>
                        <!-- <a class="no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a> -->
                    </div>

                    <button pButton pRipple label="Log In" icon="pi pi-user" class="w-full"></button>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Sign Up">
            <div class="surface-card p-4 shadow-2 border-round w-full" style="margin: auto; width:100%">


                <div>
                    <label for="email1" class="block text-900 font-medium mb-2">Name</label>
                    <input id="email1" type="text" pInputText class="w-full mb-3">


                    <label for="email1" class="block text-900 font-medium mb-2">Email </label>
                    <input id="email1" type="text" pInputText class="w-full mb-3">

                    <label for="email1" class="block text-900 font-medium mb-2">Mobile </label>
                    <input id="email1" type="text" pInputText class="w-full mb-3">


                    
                    <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
                </div>
            </div>
        </p-tabPanel>

    </p-tabView>

</p-dialog>