<app-menubar></app-menubar>
<p-badge [value]="counter" class="top-center" size="xlarge" severity="success"></p-badge>
<p-speedDial [model]="tooltipItems"  showIcon="pi pi-bars" [radius]=100 direction="left" type="semi-circle" [style]="{'bottom':'15%', 'right' : '5%'}"></p-speedDial>
<!-- <p-panel [transitionOptions]="'0ms'" header="Calendar" [toggleable]="true"> -->

<!-- <div style="display: flex;width: 100%; height: 100%; overflow: auto;white-space: nowrap;padding:0;">



    <button pButton pRipple type="button" style="height:0.5em" (click)="calClick()" icon="pi pi-calendar-plus"
        class="p-button-rounded p-button-text"></button>

    <button pButton pRipple type="button" style="height:0.5em" (click)="todayClick()"
        class="p-button-rounded p-button-text"> Today </button>

    <button pButton pRipple type="button" style="height:0.5em" (click)="todayClick()"
        class="p-button-rounded p-button-text"> Reset </button>


    <button pButton pRipple type="button" style="height:0.5em" (click)="todayClick()"
        class="p-button-rounded p-button-text"> Submit </button>


    <button pButton pRipple type="button" style="height:0.5em" (click)="todayClick()"
        class="p-button-rounded p-button-text"> Submit </button>


    <button pButton pRipple type="button" style="height:0.5em" (click)="todayClick()"
        class="p-button-rounded p-button-text"> Submit </button>

</div> -->

<div style='display: flex;width: 100%; height: 100%; overflow: auto; white-space: nowrap;padding:0; '>
    <ng-container *ngFor="let item of myPosts; index as i">

        <div [id]="'demo'+i" pDroppable="products" (onDrop)="drop(i)" (click)="selectDay(i,false)"
            style="padding-left:0.5em;padding-right:0.5em; padding-top:0.3em;  text-align:center; background-color: #f8f9fa;">



            <span style="font-size:smaller; color: grey"> <b> {{item.date | date:'MMM'}}
                    {{item.date | date:'dd'}}

                    {{ item.date | date :'yyyy'}}</b> <br />

                {{item.date | date:'EEEE'}} <br />


                <img #img aria-haspopup="true" alt="Card" [src]="item.image" style="max-height: 5em">




            </span>

        </div>


    </ng-container>

</div>
<!-- </p-panel> -->
<div>&nbsp;</div>


<!-- <p-accordion>
        <p-accordionTab header='Demo' [selected]="true"> -->


<div style='display: flex;flex-wrap: wrap;overflow-y: auto; ' [style.height.px]="displayHeight">

    <ng-container
        *ngFor="let image of imageStore index as j">



        <div style="padding:0.5em;text-align:left" class="highlight" pDraggable="products"
            (onDragStart)="dragStart(img.src)" (onDragEnd)="dragEnd()">


            <p-image class='imgshadow' aria-haspopup="true" [width]="imageWidth" #img [src]="image" alt="Image" [preview]="true">
            </p-image>

            <br />

            <div style="text-align:center"> <b>Drag from Here</b> </div>


        </div>


    </ng-container>
</div>





<p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>



<p-dialog header="Select Date" [(visible)]="visible" [modal]="true" [style]="{width: '100%'}">

    <div style="text-align:center">
        Selected Image will be displayed here -
        <img #img1 aria-haspopup="true" width="100em" [src]="viewSrc" alt="Image" />
    </div>

    <p-calendar [(ngModel)]="selectedDate" inputId="template" (ngModelChange)="calChange()" [style]="{width: '100%'}"
        [inline]="true">
        <ng-template pTemplate="date" let-date>
            <span #imgspan on-mouseenter="viewSrc=img1.src"
                on-mouseleave="viewSrc='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg'">{{date.day}}
                <img #img1 aria-haspopup="true" width="15em" [src]="getPostImage(date)" alt="Image" />
                <p-contextMenu [target]="img1" [model]="[{label: 'View'},{label: 'Edit'}]"></p-contextMenu>

            </span>
        </ng-template>
    </p-calendar>



</p-dialog>


<!-- <p-dialog header="Header" [(visible)]="viewImage" [modal]="true"
    [draggable]="false" [resizable]="false">
    <p class="m-0">
        <img #img aria-haspopup="true" style="max-width:100%; max-height:100%"  [src]="viewSrc" alt="Image" />
    </p>
        
</p-dialog> -->



